<template>
<h1>You are logged out</h1>
</template>
<script>
  export default {
    mounted () {
      this.$store.dispatch('auth/logout');
      this.$router.push('/');
      console.log("I am first");
    }
  }
</script>