<template>
  <div id="wrapper" class="wrapper">
    <NavBar/>
    <div class="content-wrapper">
      <main class="main-wrapper">
        <nuxt/>
      </main>
    </div>
  </div>
</template>

<script>
import NavBar from '~/components/NavBar.vue'

export default {
  components: {
    NavBar
  },
  head: {
    bodyAttrs: {
      class: 'sidebar-horizontal pace-done'
    }
  }
}
</script>

<style>
</style>
