<template>
  <div>
    <div class="container">
                <div class="row page-title clearfix">
                    <div class="page-title-left">
                        <h6 class="page-title-heading mr-0 mr-r-5">Dashboard</h6>
                        <p class="page-title-description mr-0 d-none d-md-inline-block">statistics, charts and events</p>
                    </div>
                    <!-- /.page-title-left -->
                    <div class="page-title-right d-none d-sm-inline-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item active">Home</li>
                        </ol>
                    </div>
                    <!-- /.page-title-right -->
                </div>
                <!-- /.page-title -->
            </div>
  <div class="container">
    <div class="widget-list row">
      <div class="widget-holder widget-full-height col-12">
          <div class="widget-bg zi-1" style="background-color: #eff2f7">
              <div class="widget-body py-2">
                  <div class="pos-0 zi-n-1 d-none d-lg-block" style="background-repeat: no-repeat;
                          background-size: auto 100%;
                          background-position: 90% center;
                          background-image: url('/assets/demo/horizontal-demo-bg.png')"></div>
                  <div class="media d-sm-flex d-block">
                      <div class="media-body">
                          <h4 class="fw-300">Welcome to LighOJ!</h4>
                          <p class="text-muted">Start you competitive programming journey!</a>
                          </p>
                      </div>
                      <!-- /.media-body --> <a href="#" class="btn btn-outline-primary px-3 py-2 fw-500 align-self-center">Let's start</a>  <a href="#" class="btn btn-sm px-0 py-0 bg-white pos-absolute pos-top pos-right"><i class="material-icons md-18">close</i></a>
                  </div>
                  <!-- /.media -->
              </div>
              <!-- /.widget-body -->
          </div>
          <!-- /.widget-bg -->
      </div>
    </div>
  </div>
  <!--
  <div>
    <translate></translate>
    <section class="container">
      <img src="~assets/img/logo.png" alt="Nuxt.js Logo" class="logo" />
      <h1 class="title">
        {{ $t('USERS') }}
      </h1>
      <ul class="users">
        <li v-for="(user, index) in this.$store.state.users" :key="index" class="user">
          <nuxt-link :to="path('/show/' + index)">
            {{ user.name }}
          </nuxt-link>
        </li>
      </ul>
    </section>
  </div>
  -->
  </div>
</template>

<script>
import axios from '~/plugins/axios'
import Translate from '~/components/Translate.vue'
import NavBar from '~/components/NavBar.vue'

export default {
  components: {
    Translate,
    NavBar
  },
  async fetch ({ store }) {
  },
  methods: {
    path (url) {
      return (this.$i18n.locale === 'en' ? url : '/' + this.$i18n.locale + url)
    }
  },
  head () {
    return {
      title: 'LightOJ'
    }
  }
}
</script>

<style scoped>
</style>
